.zhihu-logo {
    background-image: url(../images/skip-link-logo/zhihu.png);
    background-size: cover;
}
.csdn-logo {
    background: #ffffff url(../images/skip-link-logo/csdn.png) no-repeat center;
    background-size: cover;
}
